*{ /*Selector universal*/
    margin: 0; /*Margen exterior*/
    padding: 0; /*Margen interior*/
}

.titulo{ /*Selector de clase*/
    background-color: blue;
    color: white;
    font-size: 70px;
    text-align: center;
}

.titulo2{
    background-color: red;
    color:white;
    font-size: 70px;
    width: 60%;
    float: left;
    text-align: center;
}

.titulo3{
    background-color: green;
    color: white;
    font-size: 70px;
    width: 40%;
    float: left;
    text-align: center;
}

.titulo4{
    background-color: black;
    color: white;
    font-size: 70px;
    width: 100%;
    text-align: center;
}